<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EbsNakliyat"
        tools:targetApi="31">
        <activity
            android:name=".YukIlanlari"
            android:exported="false" />
        <activity
            android:name=".suruculer"
            android:exported="false" />
        <activity
            android:name=".aracIlanlari"
            android:exported="false" />
        <activity
            android:name=".AracBul"
            android:exported="false" />
        <activity
            android:name=".anaSayfa"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SurucuEkle"
            android:exported="true" />
    </application>

</manifest>